body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   background-color: azure;
  /* border: 1px solid grey; */
}

header {
 

  & nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     font-size: 1.2em;

    & li {
      padding: .5em;
      border-radius: .5em .5em 0 0 ;
      flex: 1 0;
      text-align: center;

      &.active {
        background-color: #0c8343;
        
      }

      &:hover {
        background-color: #0a4425;
      }
    }
  }
}

main {
  padding: 1em;
 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #9fc8f7;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}


.detail {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;

    & h1 {color:#0a4425}
}
.backButton {
    padding: 10px 20px;
    background: #0c8343;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.backButton:hover {
    background: #0a6b35;
}
