.filterButton {
    margin: 10px;
    padding: 10px 20px;
    background: #0c8343;
    color: white;
    border: none;
    cursor: pointer;
}

.filterButton:hover {
    background: #0a6b35;
}

.active {
    background: #0a6b35;
}

.h2 {
    color: #0a6b35;
}

.input {
    margin: 10px;
    padding: 10px 20px;
    color: white;
    width: 50%;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    justify-items: center; 
    margin-top: 20px;
}
/* Медиа */
@media (max-width: 768px) {
    .cardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
        gap: 15px;
    }
    .input {
        width: 80%; 
    }
}
@media (max-width: 480px) {
    .cardsContainer {
        grid-template-columns: 1fr; 
        gap: 10px;
    }
    .filterButton {
        padding: 8px 16px; 
        font-size: 14px;
    }
    .h2 {
        font-size: 1.5rem; 
    }
}