.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: small;
     cursor: pointer;
}

.but {
    position: absolute;
    /* Добавлено: абсолютное позиционирование поверх картинки */
    top: 10px;
    /* Расположение в правом верхнем углу (настройте по вкусу) */
    right: 10px;
    display: flex;
    /* Изменено: теперь горизонтальный ряд */
    flex-direction: row;
    /* Изменено: кнопки рядом */
    gap: 10px;
    /* Добавлено: расстояние между кнопками */
}


.heart {
    position: relative;
    width: 20px;
    height: 20px;
    background: red;
    transform: rotate(-45deg);
    /* margin: 50px auto; */

}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 10px;
}

.icon {
    cursor: pointer;
    display: flexbox;
    align-items: center;

}


.heartFilled {
    background: #79042b; /* Более яркий красный для залитого */
  box-shadow: inset;
}
.heartFilled::before,
.heartFilled::after {
    background: #79042b;
}


.content {
    width: 300px;
    border: 3px solid #0c8343;
    width: 300px;
    height: 300px;
    /* aspect-ratio: 1/1; */
    position: relative;
    /* Добавлено: для абсолютного позиционирования дочерних элементов */
    overflow: hidden;
    /* Добавлено: скрывает выходящие части, если нужно */

}