.card {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1/1;
    border: 2px solid #0c8343;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.content:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.but {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}



.heart {
    position: relative;
    width: 20px;
    height: 20px;
    background: #ccc;
    transform: rotate(-45deg);
    border-radius: 2px 0 0 2px;
    transition: background-color 0.3s;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 10px;
}


.icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 30px;  */
    /* height: 30px; */
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    transition: background-color 0.3s;
}

.icon:hover {
    background: rgba(255, 255, 255, 1);
}

.heartFilled {
    background: #79042b;
}

.heartFilled::before,
.heartFilled::after {
    background: #79042b;
}